* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 238, 238);
}

nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: flex;
    font-weight: bold;
    gap: 30px;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

span {
    color: rgb(248, 87, 28);
}

.name {
    color: white;
    font-size: 30px;
}

.name:hover {
    color: rgb(255, 127, 80);
}

img {
    width: 600px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px;

}

.about-me {
    margin-top: 100px;
    width: 700px;
    font-size: 20px;
}

.me {
    margin-bottom: 80px;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.my-name {
    margin-bottom: 20px;
    font-size: 90px;
    color: rgb(84, 66, 70);
}

.myBtn {
    background-color: black;
    padding: 20px 30px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    /* border: 1px solid rgb(255, 127, 80); */
    color: white;
}

.myBtn:hover {
    background-color: black;
    color: rgb(255, 127, 80);
}



main {
    width: 1400px;
    margin: 0 auto;
}

.skills {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: rgb(226, 222, 222);
}


.skill-description {
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 600px;
    height: 150px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.my-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-description h1 {
    color: rgb(255, 127, 80);
}

.projects {
    line-height: 2.5;
}

.contact {
    margin-top: 100px;
    line-height: 2;
    margin-bottom: 100px;
}

form input,
textarea {
    width: 700px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.send-btn {
    padding: 10px 20px;
}

.project-1,
.project-2 {
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 200px;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    border: 1px solid rgb(255, 127, 80);
    box-shadow: 10px 10px 10px rgb(207, 205, 205);
}

.projects-grid {
    align-items: center;
    width: 700px;
    display: grid;
    grid-auto-flow: column;
}

.project-1 h4,
.project-2 h4 {
    background-color: black;
    color: rgb(255, 127, 80);
}

.project-1 p,
.project-2 p {
    padding: 0 20px;
}