* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: flex;
    font-weight: bold;
    gap: 30px;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

span {
    color: rgb(255, 127, 80);
}

.name {
    color: white;
    font-size: 30px;
}

.name:hover {
    color: rgb(255, 127, 80);
}

img {
    width: 350px;
    box-shadow: 10px 10px rgb(255, 127, 80);
}

.hero {
    display: flex;
    gap: 400px;
    align-items: center;
    justify-content: center;
    margin: 150px 50px;
}

.about-me {
    width: 500px;
    font-size: 17px;
}

.my-name {
    margin-bottom: 20px;
}

.myBtn {
    margin-top: 15px;
    background-color: white;
    padding: 20px 50px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid red;
    color: purple;
}

.myBtn:hover {
    background-color: black;
    color: white;
}

main {
    width: 1400px;
    margin: 0 auto;
}

.skills {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: rgb(226, 222, 222);
}


.skill-description {
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 600px;
    height: 150px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.my-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-description h1 {
    color: rgb(255, 127, 80);
}

.projects {
    line-height: 2.5;
}

.contact {
    margin-top: 100px;
    line-height: 2;
    margin-bottom: 100px;
}

form input,
textarea {
    width: 700px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

button {
    padding: 10px 20px;

}